@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --logo-blue-color: #006c87;
  --expense-green-color: #078a0d;
  --expense-green-button: #016b06;
  --light-gray-table-even: #f1f1f1;
  --light-gray-table-odd: #fffefe;
  --dark-gry-color: #9da3ad;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(228, 241, 250)
  );
  font-size: 10px;
  font-weight: 300;
  line-height: 1.6;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.logo-image {
  margin: 0 30px;
}

#Expense {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: var(--logo-blue-color);
}

.header {
  text-align: center;
  font-size: 30px;
  padding: 15px;
  color: var(--expense-green-color);
}

#form-name {
  display: flex;
  margin: 10px 0;
  width: 78vw;
  align-items: center;
  justify-content: flex-end;
}

#input-name {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 5px;
  width: 60rem;
  border: 1px solid #66728a;
}

#search-section {
  position: relative;
  display: flex;
  align-items: center;
}

#form-search {
  display: flex;
  margin: 10px 0;
  width: 78vw;
  align-items: center;
  justify-content: flex-end;
}

#input-search {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 5px;
  width: 60rem;
  height: 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #66728a;
}

#search-btn {
  position: relative;
  right: 5rem;
  width: 5rem;
  height: 2rem;
  font-size: 16px;
  background-color: var(--logo-blue-color);
  border: none;
  transition: all 0.3s linear;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

#search-btn:hover {
  background-color: rgba(0, 108, 135, 0.6);
  cursor: pointer;
}

.search-not-found {
  font-size: 18px;
  font-weight: 500;
  color: red;
  display: flex;
  justify-content: center;
  position: relative;
  top: 10rem;
}

.input-description {
  font-size: 18px;
  font-weight: 500;
  padding: 5px 10px;
  color: var(--logo-blue-color);
}

.input-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 5px;
  width: 27rem;
  border: 1px solid #66728a;
}

#buttons {
  display: flex;
}

#submit-btn {
  color: rgb(255, 255, 255);
  background-color: var(--expense-green-button);
  border: 1px solid #66728a;
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
  display: block;
  text-align: center;
  width: 180px;
  margin: 30px 30px 30px auto;
  border-radius: 10px;
}

#show-btn {
  color: rgb(255, 255, 255);
  background-color: var(--expense-green-button);
  border: 1px solid #66728a;
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
  display: block;
  text-align: center;
  width: 180px;
  margin: 30px auto 30px 30px;
  border-radius: 10px;
}

#show-btn:disabled {
  background-color: var(--dark-gry-color);
  cursor: default;
}

#show-btn:disabled:hover {
  background-color: var(--dark-gry-color);
  cursor: default;
  transform: scale(1);
}

#submit-btn:hover,
#show-btn:hover {
  transform: scale(0.9);
  cursor: pointer;
}

table {
  width: 70%;
  margin: 50px auto;
}

th {
  text-align: center;
  font-size: 18px;
  color: var(--logo-blue-color);
  padding: 8px;
}

#del-edit {
  width: 8rem;
}

#table-amount {
  width: 20rem;
}

#table-date {
  width: 20rem;
}

td {
  text-align: center;
  font-size: 15px;
  padding: 5px;
}

table,
th,
td {
  border: 1px solid var(--dark-gry-color);
  border-collapse: collapse;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

tr:nth-child(odd) {
  background-color: #fffefe;
}

#delete-icon {
  position: relative;
  color: rgb(221, 63, 63);
  font-size: 18px;
  margin: auto;
}

#form-total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15%;
  margin-top: 10px;
}

#input-total {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 5px;
  width: 10rem;
  border: 1px solid #66728a;
  text-align: center;
  color: #006c87;
  font-weight: 500;
}

.total {
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  color: var(--logo-blue-color);
}

.error {
  display: flex;
  margin: auto;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#error-container {
  width: 500px;
  height: 180px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: center;
  z-index: 100;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -90%);
  background: rgb(236, 236, 236);
  border-radius: 10px;
}

#close-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25px;
  background-image: linear-gradient(
    to right,
    rgb(0, 108, 135),
    rgb(145, 229, 250),
    rgb(0, 108, 135)
  );
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
}

.fa-solid {
  font-size: 15px;
  color: rgb(255, 250, 250);
  position: absolute;
  right: 0;
  margin-right: 12px;
}

.fa-solid:hover {
  color: #e0e0e0;
  transform: scale(0.8);
  cursor: pointer;
}

#error-desc {
  position: absolute;
  margin-left: 12px;
  color: white;
  font-size: 15px;
}

#error-message-top {
  margin-top: -30px;
  font-size: 16px;
  padding: 5px;
  font-weight: 500;
  color: rgb(190, 0, 0);
}

#error-message {
  font-size: 16px;
  font-weight: 500;
  color: rgb(190, 0, 0);
}

#error-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  padding: 5px;
  display: block;
  text-align: center;
  width: 80px;
  background-color: var(--logo-blue-color);
  border: 1px solid var(--logo-blue-color);
  color: var(--light-gray-table-even);
  border-radius: 5px;
}

#error-btn:hover {
  transform: scale(0.9);
  cursor: pointer;
}
